
<div class="row">
  <div class="col-md-12">
    <h3>好友列表</h3>
    <table class="table table-borderless table-sortable">
      <thead>
      <tr>
        <th data-sort="string">姓名</th>
        <th class="text-center"></th>
        <th class="text-center"></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% users.forEach(function (user){ %>
      <tr>
        <td>
          <%= user.realName %>
        </td>
        <td class="text-center">发起<%= user.ccnt %>个项目</td>
        <td class="text-center">参与<%= user.gcnt %>个项目</td>
        <td><a href="/contact/profile/<%= user.id %>" class="btn btn-primary btn-xs">个人主页</a></td>
      </tr>
      <% }); %>
      </tbody>
    </table>
  </div>
</div>
