<html>
<head>
  <meta charset="UTF-8">
  <title>APP下载 - 投资之家</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no minimal-ui">

  <link rel="stylesheet" href="/css/download.css">

  <!-- mobile icon -->
  <!--<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="http://firicon.fir.im/e150d570d45411e49b1c0913178e519f40bc9e18?v=1427442174670">
  -->  
  
</head>

<body>
  
  <div class="container">
    <div class="inner-container">
      <div class="dtc">
        <img class="icon" src="/images/icon.png" alt="icon" />
        <h1>投资之家</h1>
        <div class="info">最好用的投资项目管理APP</div>
        <div class="download-wrapper">
          <button class="btn-download" onclick="download()" >
            <img src="/images/down.png" alt="download" width="20" />
            <span>立即下载</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  



  <script src="/js/download.js"></script>

</body>
</html>
