<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>投资之家</title>
  <% include head %>

  <script>
    // http://stackoverflow.com/questions/2271156/chrome-desktop-notification-example

    function existsAppIdOrKey(content) {
      var re = /.*[0-9a-z]{48}.*/;
      if (re.test(content)) {
        return true;
      } else {
        return false;
      }
    }

    function back(){
      if(document.referrer=='' ||document.referrer==window.location){
        window.location='/projects'
      }else{
        history.back()
      }
    }
  </script>
</head>
<body>

<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand font-logo" href="/projects">投资之家</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li id="site_nav_projects"><a href="/projects">项目</a></li>
        <li id="site_nav_contact"><a href="/contact">通讯录</a></li>
		<li id="site_nav_users"><a href="/users">所有用户</a></li>
      </ul>

      <%if(isLogin){%>
      <ul class="nav navbar-nav pull-right">
        <li id="site_nav_welcome">
		<a href="/contact/me" >欢迎您，<%= mClient.realName %></a>
        </li>
        <li id="site_nav_logout">
          <a id="login_href" href="/logout">注销</a>
        </li>
      </ul>
      <%}%>
	  <form id="topSearch" class="navbar-form navbar-right ng-pristine ng-valid " role="search"
		action="/search" method="get">
		<div class="input-group navbar-search" >
			<input id="inputSearch" type="text" class="form-control" value="" name="content"
				placeholder="搜索项目">
		</div>
	  </form>
	</div>
    <!--/.nav-collapse -->
  </div>
</div>

<div class="container">
  <%- body %>
</div>
<!-- .container -->

<% include footer %>

<script>
  $(function () {
    // Bootstrap tooltips
    $(".bstooltip").tooltip();

    // Stupid Table init.
    $(".table-sortable").stupidtable();

    // Stupid Table loads on page ready
    $(".table-sortable").find("th[data-sort-onload]").click();

    // Stupiad Table adds arrow when sorting
    var table = $(".table-sortable").stupidtable();
    table.bind('aftertablesort', function (event, data) {
      // data.column - the index of the column sorted after a click
      // data.direction - the sorting direction (either asc or desc)

      var th = $(this).find("th");
      th.find(".arrow").remove();
      var arrow = data.direction === "asc" ? "&uarr;" : "&darr;";
      th.eq(data.column).append("<span class=arrow>" + arrow + "</span>");
    });

    var site_nav_url = window.location.pathname;
    var regs = [/^(\/projects|\/admin\/projects).*/, /^\/contact.*/, /^\/users.*/];
    var selectors = ["#site_nav_projects", "#site_nav_contact", "#site_nav_users"];
    for (var i = 0; i < regs.length; i++) {
      if (regs[i].exec(site_nav_url)) {
        $(selectors[i]).addClass('active');
        break;
      }
    }

  });
</script>

</body>
</html>
