<script>
  $(function () {
    function empty(str) {
      return str == null || str == '';
    }

	$(document).ready(function () {  
		if ($.cookie("remember") == "true") {  
			$("#inputRemember")[0].checked = true;  
			$("#inputUsername").val($.cookie("username"));  
			$("#inputPassword").val($.cookie("password"));  
		}  
	});
	
    $('#loginForm').submit(function (event) {
      var username = $('#inputUsername').val();
      if (empty(username)) {
		swal("提示", "用户名不能为空!", "warning");
		$('#inputUsername').focus();
        return false;
      }
      var password = $('#inputPassword').val();
      if (empty(password)) {
		swal("提示", "密码不能为空!", "warning");
		$('#inputPassword').focus();
        return false;
      }
	  if ($("#inputRemember")[0].checked) {  
		var str_username = $("#inputUsername").val();
		var str_password = $("#inputPassword").val();
		$.cookie("remember", "true", { expires: 15 });  
		$.cookie("username", str_username, { expires: 15 });
		$.cookie("password", str_password, { expires: 15 });
	  } else {
		$.cookie("remember", "false", { expires: -1 });
		$.cookie("username", "", { expires: -1 });
		$.cookie("password", "", { expires: -1 });
	  }
      return true;
    });
  });
</script>

<div class="container">
	<form id="loginForm" class="form-signin" action="/login" method="POST">
		<% if(error) {%>
		<div class="alert alert-danger alert-dismissable">
		   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			登录失败！用户密码不正确。
		</div>
		<%}%>
	    <h2 class="form-signin-heading">投资之家<small> | 登录 </small></h2>
		<label for="inputEmail" class="sr-only">用户名</label>
		<input type="text" name="username" id="inputUsername" class="form-control" placeholder="用户名" autofocus>
		<label for="inputPassword" class="sr-only">密码</label>
		<input type="password" id="inputPassword" name="password" class="form-control" placeholder="密码">
		<div class="checkbox">
			<label><input id="inputRemember" type="checkbox" value="remember-me"> 记住账号 </label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
	</form>
</div>
