<script>
  $(function () {
    function empty(str) {
      return str == null || str == '';
    }

	$(document).ready(function () {  
		if ($.cookie("remember") == "true") {  
			$("#inputRemember")[0].checked = true;  
			$("#inputUsername").val($.cookie("username"));  
			$("#inputPassword").val($.cookie("password"));  
		}  
	});
	
    $('#loginForm').submit(function (event) {
      var username = $('#inputUsername').val();
      if (empty(username)) {
		swal("提示", "用户名不能为空!", "warning");
		$('#inputUsername').focus();
        return false;
      }
      var password = $('#inputPassword').val();
      if (empty(password)) {
		swal("提示", "密码不能为空!", "warning");
		$('#inputPassword').focus();
        return false;
      }
	  if ($("#inputRemember")[0].checked) {  
		var str_username = $("#inputUsername").val();
		var str_password = $("#inputPassword").val();
		$.cookie("remember", "true", { expires: 15 });  
		$.cookie("username", str_username, { expires: 15 });
		$.cookie("password", str_password, { expires: 15 });
	  } else {
		$.cookie("remember", "false", { expires: -1 });
		$.cookie("username", "", { expires: -1 });
		$.cookie("password", "", { expires: -1 });
	  }
      return true;
    });
  });
</script>

<div class="signin-bg" id="bg"></div>
<div class="container">
	<div class="wrapper">
		<img class="logo" src="images/logo.png" alt="logo" />
		<span style="font-size: 22px; color: #3090E4; font-family: fantasy; font-weight: bold;">资之家</span>
		<form id="loginForm" action="/login" method="POST">
			<% if(error) {%>
			<div class="alert alert-danger alert-dismissable">
			   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				登录失败！用户密码不正确。
			</div>
			<%}%>
			<div class="form-group">
				<input type="text" name="username" id="inputUsername" class="myInput" placeholder="请输入用户名" autofocus>
			</div>
			<div class="form-group">
				<input type="password" id="inputPassword" name="password" class="myInput" placeholder="请输入密码">
			</div>
			<div class="btn-group">
				<button class="btn btn-primary" style="width:100px;" type="submit">立即登录</button>
			</div>

			<div style="margin-top:150px;">
				<p style="font-family: cursive;">
					联系我们：
					<a href="mailto:touzizhijia@qq.com" target="_blank" style="color: black;">touzizhijia@qq.com</a>
				</p>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript"> 
	var num = Math.floor(Math.random()*10)+1;
	var s = "images/";
	s = s + num.toString() + ".jpg";
	console.log(s);
	document.getElementById('bg').style.backgroundImage = 'url('+s+')';
</script>
