
<script type="text/javascript">
  $(function () {
    function empty(str) {
      return str == null || str == '';
    }

    $('#projectForm').submit(function (event) {
      var name = $('#inputName').val();
      if (empty(name)) {
		swal("填写提示", "项目名称不能为空!", "warning");
		$('#inputName').focus();
        return false;
      }
      var introdution = $('#inputIntrodution').val();
      if (empty(introdution)) {
		swal("填写提示", "项目描述不能为空!", "warning");
		$('#inputIntrodution').focus();
        return false;
      }
      return true;
    });

    $('#inputIntrodution').keydown(function (e) {

      if (e.ctrlKey && e.keyCode == 13) {
        // Ctrl-Enter pressed
        $("#projectForm").submit();
      }
    });


  });
</script>

<div class="callout callout-info callout-has-icon" role="alert">
  <i class="avc-icon avc-info"></i>
  <h4>小贴士</h4>
  <ul>
    <li>上传附件仅支持<span class="alert-warning">Word, Pdf, Power Point</span>格式的文件</li>
  </ul>
</div>

<form id="projectForm" enctype="multipart/form-data" action="/projects?token=<%=token%>" method="post">
  <div class="form-group">
    <label class="control-label" for="inputName">
      项目名称
      <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
    </label>
    <div class="controls">
      <input type="text" name="name" id="inputName" class="form-control" placeholder="项目名称">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputType">
      行业
      <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
    </label>
    <div class="controls">
    <select id="inputType" class="form-control" name="type" required>
      <option value="EBUSINESS" selected="selected">电商</option>
      <option value="SERVICE">企业服务</option>
      <option value="ENTERTAINMENT">文化体育娱乐</option>
      <option value="O2O">O2O</option>
      <option value="FINANCIAL">金融</option>
      <option value="SOCIAL">社交网络</option>
      <option value="GAME">游戏</option>
      <option value="EDUCATION">教育</option>
      <option value="TOOL">工具软件</option>
      <option value="HARDWARE">智能硬件</option>
      <option value="TRAVEL">旅游</option>
      <option value="CAR">汽车&交通</option>
      <option value="HEALTH">医疗健康</option>
      <option value="MEDIA">媒体</option>
      <option value="ESTATE">房产服务</option>
      <option value="FOOD">餐饮</option>
      <option value="BIGDATA">大数据</option>
      <option value="EXTRA">其他</option>
    </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputStatus">
      状态
      <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
    </label>
    <div class="controls">
    <select id="inputStatus" class="form-control" name="status" required>
      <option value="FINANCING" selected="selected">融资开放</option>
      <option value="COMPLETE">融资完成</option>
      <option value="FOLLOWING">后续跟踪</option>
      <option value="ABUNDANT">放弃中止</option>
    </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputRating">
	  评分
    </label>
    <div class="controls">
      <input class="rating" name="rating" id="inputRating" data-max="5" data-min="0" data-step="1"
		data-show-clear="true" data-show-caption="false" data-size="xs">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputInvestMoney">
      投资额（万元）
    </label>
    <div class="controls">
      <input type="number" name="invest_money" id="inputInvestMoney" class="form-control" placeholder="投资额" >
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputContact">
      联系方式
    </label>
    <div class="controls">
      <input type="text" name="contact_way" id="inputContact" class="form-control" placeholder="联系方式" >
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputContact">
      项目精调
    </label>
    <div class="controls">
      <input type="text" name="jintiao" id="inputJintiao" class="form-control" placeholder="项目精调" >
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="inputIntrodution">
      项目描述
      <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
    </label>
    <div class="controls">
      <textarea rows="10" cols="20" name="introdution" id="inputIntrodution" class="form-control" placeholder="项目描述" ></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputAttachment">上传附件</label>
    <div class="controls">
      <input type='file' name='attachment' id='inputAttachment' multiple='true'
	  accept="application/msword,application/pdf,application/vnd.ms-powerpoint"/>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">提交</button>
    <a href="/projects" class="btn btn-default">回到项目列表</a>
  </div>

</form>

