
<script type="text/javascript">
  $(function () {

    function checkContentOk(content){
      var secret=$("#inputOpen").is(":checked");
      if(secret==false && existsAppIdOrKey(content)){
        alert('检测到含有 AppId 或 AppKey，请勾选「仅管理员可见」');
        return false;
      }else{
        return true;
      }
    }

    $("#ticketForm").submit(function (event) {
      var $form = $(this),
        title = $form.find("input[id='inputTitle']").val(),
        content = $form.find("textarea[id='inputContent']").val();
      if (title == '' || content == '') {
        alert("标题和问题描述都不能为空");
        return false;
      }
      return checkContentOk(content);
    });

    $('#inputContent').keydown(function (e) {

      if (e.ctrlKey && e.keyCode == 13) {
        // Ctrl-Enter pressed
        $("#ticketForm").submit();
      }
    });


  });
</script>
<% if(client.id!='anonymousCid'){%>

<div class="callout callout-info callout-has-icon" role="alert">
  <i class="avc-icon avc-info"></i>
  <h4>小贴士</h4>
  <ul>
    <li>上传附件仅支持<span class="alert-warning">Word, Pdf, Power Point</span>格式的文件</li>
  </ul>
</div>

<% }%>
<form id="ticketForm" enctype="multipart/form-data" action="/tickets?token=<%=token%>" method="post">
  <div class="form-group">
    <label class="control-label" for="inputTitle">
      项目名称
      <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
    </label>
    <div class="controls">
      <input type="text" name="title" id="inputTitle" class="form-control" placeholder="项目名称" required>
    </div>
  </div>
  <% if(client.id=='anonymousCid'){%>
  <div class="form-group">
    <label class="control-label" for="inputEmail">
      电子邮箱
      <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
    </label>
    <div class="controls">
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="电子邮箱地址" required>
    </div>
  </div>
  <% }%>
  <div class="form-group">
    <label class="control-label" for="inputType">
      项目行业
      <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
    </label>
    <div class="controls">
    <select id="inputType" class="form-control" name="type" required>
      <option value="social" selected="selected">社交</option>
      <option value="o2o">电商</option>
      <option value="game">游戏</option>
    </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="inputContent">
      项目描述
      <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
    </label>
    <div class="controls">
      <textarea rows="10" cols="20" name="content" id="inputContent" class="form-control" placeholder="项目描述" required></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputAttachment">上传附件</label>
    <div class="controls">
      <input type='file' name='attachment' id='inputAttachment' multiple='true'
	  accept="application/msword,application/pdf,application/vnd.ms-powerpoint"/>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">提交</button>
    <a href="/tickets" class="btn btn-default">回到项目列表</a>
  </div>

  <%if((!client.qq || client.qq==0)&& client.id!='anonymousCid'){%>
  <p class="callout callout-danger">
    请前往<a target="_blank" href="/contact">联系信息</a>填写 QQ 号码，以便有需要的时候工程师更好地与您联系
  </p>
  <%}%>
</form>

